<a href="https://colab.research.google.com/github/norayehia/healthcare-precision-medicine-datascience/blob/main/1hpatien.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data = {'patientID': ['s08549383', 's062184743', 's17758784', 's17439450'],
        'name': ['John', 'Rhona', 'Clara', 'Dave'],
        'age': [22, 20, 36, 22]}
patient_class = pd.DataFrame(data)
patient_class

    patientID   name  age
0   s08549383   John   22
1  s062184743  Rhona   20
2   s17758784  Clara   36
3   s17439450   Dave   22

Get the 'name' column.

In [4]:
patient_class.name

0     John
1    Rhona
2    Clara
3     Dave
Name: name, dtype: object

add new column

In [6]:
patient_class['hospital'] = ['hh', 'nn', 'mm', 'jj']
patient_class

    patientID   name  age    degree hospital
0   s08549383   John   22   Biology       hh
1  s062184743  Rhona   20   Physics       nn
2   s17758784  Clara   36   Physics       mm
3   s17439450   Dave   22  Medicine       jj